<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="number_of_clicks">
    <h1><%= $clicks %>
    </h1>
  </div>
     <h1 >Chat Room</h1>

    <div id="right_page">
      <h1> Requests</h1>
      <div id="messages">
        <%= render @messages %>
      </div>
    </div>

    <form>
      <label>Type something</label><br>
      <input id="input_message" type="text" data-behavior="room_speaker">
      <input id="send_message" type="submit" onClick="window.location.reload()" <% increment_a%> > 
    </form>

  </body>
</html>
